#app4 {}
#app4 .circle{
    border: 1px solid black;
    width: 20vw;
    height: 20vw;
    margin-top: 1vw;
    margin-left: 10vw;
    border-radius: 50%;
}

@keyframes move{
    0%{
        background-color: blue;
    }
    100%{
        background-color: red;
    }
}

#app4 .circle.move{
animation:  move 1s infinite alternate linear;
}